<section class="our-products">
  <div class="container">
    <h2 class="section-title">OUR PRODUCTS</h2>
    <ul class="list product-list tablet-container">
      <!--  -->
      <li class="product-card">
        <picture>
          <source srcset="./images/our-product-1-mobile.jpg, 
             
          " />
          <img src="./images/our-product-1-desktop.jpg" alt="product-1" width="312" />
        </picture>
        <div class="product-member">
          <h3 class="product-undertitle">Minimalist storage solutions</h3>
        </div>
      </li>
      <!--  -->
      <li class="product-card">
        <picture>
          <source srcset="./images/our-product-2-tablet.jpg,
             " />
          <img src="./images/our-product-2-desktop.jpg" alt="product-2" width="312" />
        </picture>
        <div class="product-member">
          <h3 class="product-undertitle">Handcrafted minimalist seating</h3>
        </div>
      </li>
      <!--  -->
      <li class="product-card">
        <picture>
          <source srcset="./images/our-product-3-desktop-2x.jpg" />
          <img src="./images/our-product-3-desktop.jpg" alt="product-3" width="312" />
        </picture>
        <div class="product-member">
          <h3 class="product-undertitle">Sleek and simple tables</h3>
        </div>
      </li>
      <!--  -->
      <li class="product-card">
        <picture>
          <source srcset="./images/our-product-4-desktop-2x.jpg" />
          <img src="./images/our-product-4-desktop.jpg" alt="product-4" width="312" />
        </picture>
        <div class="product-member">
          <h3 class="product-undertitle">Minimalist seating for every space</h3>
        </div>
      </li>
    </ul>
  </div>
</section>